* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	box-sizing: border-box;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between; /* Separa los elementos */
	align-items: center; /* Alineación vertical */
	padding: 15px 40px;
	background-color: #78a5f9;
	color: #fff;
}


h1 a {
	text-decoration: none;
	color: #fff;
}

nav,
.user {
	display: flex;
	align-items: center;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

.username {
	color: #fff;
}

.btn-logout {
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-logout:hover {
	background-color: #fff;
	color: #000;
}

/*  */

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 40px;
	background: white;

}
h1 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
  }
  
  /* Inputs */
  .input-group {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
  }
  
  .input-group input {
	width: 100%;
	padding: 12px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	transition: all 0.3s ease;
  }
  
  .input-group label {
	position: absolute;
	top: 14px;
	left: 12px;
	font-size: 14px;
	color: #777;
	transition: 0.3s;
  }
  
  /* Animación cuando el input está en foco o tiene contenido */
  .input-group input:focus,
  .input-group input:not(:placeholder-shown) {
	border-color: #1e3c72;
  }
  
  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
	top: -8px;
	left: 10px;
	font-size: 12px;
	color: #1e3c72;
	background: white;
	padding: 0 5px;
  }
  
  /* Botón */
  button {
	width: 100%;
	padding: 12px;
	background: #1e3c72;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s ease;
  }
  
  button:hover {
	background: #2a5298;
  }




  /* Globales */
*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	max-width: 1200px;
	font-family: 'Lato';
	color: #333;
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}

/* Header */


.container-icon {
	position: relative;
}

.count-products {
	position: absolute;
	top: 55%;
	right: 0;

	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

#contador-productos {
	font-size: 12px;
}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;

	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
	color: black;
}

.titulo-producto-carrito {
	font-size: 20px;
	color: black;
}

.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
	color: black;
}

.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
	color: black;
}

.icon-close {
	width: 25px;
	height: 25px;
	color: #000;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
	color: black;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
	
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}

.hidden-cart {
	display: none;
}

/* Main */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.hidden {
	display: none;
}

.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
  font-size: 16px;
  transition: all .3s ease;
}

.btn-clear-all:hover{
  background-color: #333;
  transform: scale(1.03);
  border-radius: 0;
}