* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	box-sizing: border-box;
}
/* definir cuerpo*/
body {
	max-width: 1200px;
	margin: 0 auto;
}

 /* Estilos del header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center; /* Alineación vertical */
	padding: 15px 40px;
	background-color: #78a5f9;
	color: #fff;
}

/* estilo navegacion*/
nav,
.user {
	display: flex;
	align-items: center;
	gap: 20px;
}
/*Estilo botones en el inicio del menu*/
nav a {
	text-decoration: none;
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

nav a:hover {
	background-color: #fff;
	color: #000;
}

/*color  del usuario*/
.username {
	color: #fff;
}

/* caractrisitcias del boton cerrar sesion*/
.btn-logout {
	border: 1px solid #fff;
	background: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-logout:hover {
	background-color: #fff;
	color: #000;
}

/* carasteristicas al formulario inicio de sesion */

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 40px;
	background: white;

}
h1 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
}

  /* estilos inputs */
.input-group {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}

.input-group input {
	width: 100%;
	padding: 12px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	transition: all 0.3s ease;
}
/* etiqueta flotante*/
.input-group label {
	position: absolute;
	top: 14px;
	left: 12px;
	font-size: 14px;
	color: #777;
	transition: 0.3s;
}

  /* Animación cuando el input está en foco o tiene contenido */
.input-group input:focus,
.input-group input:not(:placeholder-shown) {
	border-color: #1e3c72;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
	top: -8px;
	left: 10px;
	font-size: 12px;
	color: #1e3c72;
	background: white;
	padding: 0 5px;
}

  /*  estilo para Botón */
button {
	width: 100%;
	padding: 12px;
	background: #1e3c72;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease;
}

button:hover {
	background: #2a5298;
}

/*icono del carrito*/
.icon-cart {
	width: 40px;
	height: 40px;
	stroke: #000;
}

.icon-cart:hover {
	cursor: pointer;
}

img {
	max-width: 100%;
}
/* Contenedor principal del ícono del carrito */
.container-icon {
	position: relative;
}
/* Contador de productos en el carrito */
.count-products {
	position: absolute;
	top: 55%;
	right: 0;
	background-color: #000;
	color: #fff;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

/* Estilo para el número dentro del contador */
#contador-productos {
	font-size: 12px;
}

/*contenedor carrito*/
.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}
/* Estilos de los productos dentro del carrito */
.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* Información del producto en el carrito */
.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
	color: black;
}

/* Estilo para el nombre del producto */
.titulo-producto-carrito {
	font-size: 20px;
	color: black;
}
/* Estilo para el precio del producto */
.precio-producto-carrito {
	font-weight: 700;
	font-size: 20px;
	margin-left: 10px;
	color: black;
}
/* Estilo para la cantidad del producto */
.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
	color: black;
}

/* Botón de eliminar producto */
.icon-close {
	width: 25px;
	height: 25px;
	color: #000;
}

.icon-close:hover {
	stroke: red;
	cursor: pointer;
}

/*total a pagar*/
.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
	color: black;
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
	
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}
/* Oculta el carrito cuando no hay productos */
.hidden-cart {
	display: none;
}

/* productos */
.container-items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 15px;
	row-gap: 20px;
}
/* Estilos generales de los productos */
.item {
	border-radius: 10px;
}
/* Efecto de sombra cuando se pasa el cursor */
.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Estilos de las imágenes dentro de los productos */
.item img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
	transition: all 0.5s;
	padding: 10px;
}

.item figure {
	overflow: hidden;
}

.item:hover img {
	transform: scale(1.2);
}

.info-product {
	padding: 15px 30px;
	line-height: 2;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

.cart-empty {
	padding: 20px;
	text-align: center;
	color: #000;
}

.hidden {
	display: none;
}
/*boton limpiar carrito*/
.btn-clear-all {
	border: none;
	background-color: #000;
	color: #fff;
	padding: 15px 0;
	display: block;
	width: 100%;
	margin-top: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-family: inherit;
	cursor: pointer;
	font-size: 16px;
	transition: all .3s ease;
}

.btn-clear-all:hover{
	background-color: #333;
	transform: scale(1.03);
	border-radius: 0;
}


/*Modificar  pagina de bienvenida*/

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	background-color: #f8f8f8;
}

/* Modificarimagen central*/
.home-image {
	width: 60%;
	max-width: 800px;
	border-radius: 15px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Modificar titulo*/
.title{
	font-size: 2.5rem;
	color: #333;
	margin-bottom: 20px;
}
